@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model HairSalon.Models.Stylist;

<h2>Stylist Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model =>model.Name): @Html.DisplayFor(model => model.Name)</h3>

<ul>
  @if (@Model.Clients.Count == 0)
  {
    <p>This stylist has no clients, yet.</p>
  }

  @foreach (Client client in @Model.Clients)
  {
    <li>Client: @client.Name</li>
  }
</ul>

<p>@Html.ActionLink("Add a new client for this stylist", "Create", "Clients")</p>
<p>@Html.ActionLink("View all stylists", "Index")</p>
<p>@Html.ActionLink("Edit Stylist", "Edit", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Delete Stylist", "Delete", new { id = Model.StylistId })</p>